@model IEnumerable<LojaRemastered.Models.Product>

<div class="container my-4">
    <h2 class="mb-4">Meus Produtos</h2>
    <div class="d-flex justify-content-between align-items-center mb-3">
        
        <!-- Link para vender -->
        <a class="btn btn-outline-info" asp-area="" asp-controller="Products" asp-action="Create">Vender</a>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Estoque</th>
                <th>Data do Anúncio</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price.ToString("C")</td>
                    <td>@product.Stocks</td>
                    <td>@product.DataAnuncio.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-sm btn-warning me-1">Editar</a>
                        <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    